@model CRUDMiguelDoriaEF.Models.Libro

@{
    ViewData["Title"] = "Libros";
}

<div class="row justify-content-center" style="padding: 20px;">
    <div class="col-md-6">
        <h3 class="text-center">¿Estás seguro de Eliminar el registro?</h3>

        <br /><br />
        <div>
            <dl class="row">
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3">
                        Título:
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Titulo)
                    </dd>
                </div>
                <hr />
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3">
                        Descripción:
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                </div>
                <hr />
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3">
                        Autor:
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.NombreAutor)
                    </dd>
                </div>
                <hr />
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3">
                        Fecha de Publicación:
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Publicacion)
                    </dd>
                </div>
                <hr />
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3">
                        Fecha de Registro:
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.FechaRegistro)
                    </dd>
                </div>
                <hr />
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3">
                        Código de Categoría:
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.CodigoCategoriaNavigation.CodigoCategoria)
                    </dd>
                </div>
                <hr />
                <div class="d-flex align-items-center">
                    <dt class="col-sm-3">
                        Nit de Editorial:
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.NitEditorialNavigation.Nit)
                    </dd>
                </div>
                <hr />
            </dl>
            <br /><br />
            <form asp-action="Delete">
                <input type="hidden" asp-for="Isbn" />
                <div class="text-center" style="margin-left: 500px; margin-top: 50px;">
                    <a asp-action="Index" class="btn btn-success" id="botones" style="margin-right: 10px;">Cancelar</a>
                    <input type="submit" value="Eliminar" class="btn btn-danger" id="botonesRegistro" />
                </div>
            </form>
        </div>
    </div>
</div>
<hr style="margin-top: 60px">
<footer class="text-break" style="margin-left: 1110px">
    <p>
        ©2024 Libros Para Todos S.A - Todos los Derechos Reservados
    </p>
</footer>