@model IEnumerable<CRUDMiguelDoriaEF.Models.Editoriale>
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Editoriales";
}


<div style="padding: 50px">
    <br />
    <h2>Gestión de Editoriales</h2>
    <hr />
    <br />
    <p>
        <a asp-action="Create" class="btn btn-primary" id="botonesRegistro">Nueva Editorial</a>
    </p>
    <br />
    <table class="table table-striped" id="example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sitioweb)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sitioweb)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" id="botones" asp-route-id="@item.Nit">
                            <i class="fas fa-pencil-alt"></i>
                        </a>

                        <a asp-action="Details" class="btn btn-info" id="botones" asp-route-id="@item.Nit">
                            <i class="fas fa-eye"></i>
                        </a>

                        <a onclick="alertConfirmacion('@Url.Action("Delete", "Editoriales", new { id = item.Nit })')" class="btn btn-danger" id="botones">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Estilos adicionales -->
<style>
    /* Estilo para las filas de la tabla */
    .table-striped tbody tr:nth-child(odd) {
        background-color: #f2f2f2; /* Gris claro */
    }

    .table-striped tbody tr:nth-child(even) {
        background-color: white; /* Blanco */
    }

    /* Botones de acciones con un estilo consistente */
    #botones {
        margin-right: 5px;
    }

    #botonesRegistro {
        margin-bottom: 10px;
    }
</style>

<hr style="margin-top: 60px">
<footer class="text-break" style="margin-left: 1110px">
    <p>
        ©2024 Libros Para Todos S.A - Todos los Derechos Reservados
    </p>
</footer>

<script>
    new DataTable('#example', {
        layout: {
            topStart: {
                buttons: [
                    {
                        extend: 'copy',
                        text: '<i class="fas fa-copy"></i>',
                        className: 'botonCopiar btn'
                    },
                    {
                        extend: 'csv',
                        text: '<i class="fas fa-file-csv"></i>',
                        className: 'botonCsv btn',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i>',
                        className: 'botonExcel btn',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i>',
                        className: 'botonPdf btn',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i>',
                        className: 'botonPrint btn',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'colvis',
                        text: '<i class="fas fa-filter"></i>',
                        className: 'botonColvis btn'
                    }

                ]
            }

        },
        "language": {
            "sEmptyTable": "No hay datos disponibles en la tabla",
            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
            "sInfoEmpty": "Mostrando 0 a 0 de 0 entradas",
            "sInfoFiltered": "(filtrado de _MAX_ entradas totales)",
            "sLengthMenu": "Mostrar _MENU_ entradas",
            "sLoadingRecords": "Cargando...",
            "sProcessing": "Procesando...",
            "sSearch": "Buscar:",
            "sZeroRecords": "No se encontraron resultados"
        },
        scrollX: true,
        initComplete: function (json, settings) {
            $(".dt-buttons").removeClass("dt-buttons");
            //agregar clase para añadir estilos
            $(".dt-button").addClass("botones");
            //Elimina la clase de los estilos por defecto de tadatables
            $(".dt-button").addClass("botones");
        }
    });
</script>


